version: '2'
services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=pulp
      - POSTGRES_PASSWORD=pulp
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - ./.volume/postgres:/var/lib/postgresql/data
  redis:
    image: redis
    ports:
      - '127.0.0.1:6379:6379'
  api:
    image: pulp-api
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - '24817:24817'
  content:
    image: pulp-content
    env_file: .env
    depends_on:
      - db
      - api
    ports:
      - '24816:24816'
  resource-manager:
    image: pulp-resource-manager
    env_file: .env
    depends_on:
      - db
      - api
      - redis
  worker:
    image: pulp-worker
    env_file: .env
    depends_on:
      - db
      - api
      - redis
